<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Base.BaseActivity" />

        <activity android:name=".StickyHeadActivity.StickyHeadActivity" /><!--RecyclerView 粘性头布局-->
        <activity android:name=".FlowViewActivity.FlowViewActivity" /><!--FlowViewActivity 流布局-->
        <activity android:name=".SwipeMenuView.SwipeMenuViewActivity" /><!--侧滑删除 Item -->
        <activity android:name=".DiyProgressBar.DiyProgressBarActivity" /><!--进度条 -->
        <activity android:name=".CircleImage.CircleImageActivity" /><!-- 圆角View -->

        <!--各种类型系统对话框学习-->
        <activity android:name=".SystemDialog.SystemDialogActivity" />

        <!--相机相册的学习 兼容到23 -->
        <activity android:name=".CarameAlbum.CarameAlbumActivity" />
        <activity android:name=".CarameAlbum.CarameAlbumActivity2" />

        <!-- OkHttp 系列-->
        <activity android:name=".OkhttpUtils.TestOkhttp" />

        <!--RxJava 系列学习-->
        <activity android:name=".StudyRxJava.RxJavaActivity" />
        <activity android:name=".StudyRxJava.BaseRxjavaActivity" />

        <!--retrofit-->
        <activity android:name=".Retrofit.RetrofitActivity" />

        <!--status bar状态栏 学习; 5.0以下 &#45;&#45; 5.0以上区别及实现方式-->
        <activity android:name=".StatusBarDemo.StatusBarTest" />


        <!--Activity 跳转动画-->
        <activity android:name=".ActivityTransitions.ActivityA" />
        <activity android:name=".ActivityTransitions.ActivityB" />
        <activity android:name=".ActivityTransitions.ActivityC" />

        <!--垂直滚动TextView-->
        <activity android:name=".VerticalScrollText.VerticalScrollTextActivity" />

        <!--3D ViewPager 画廊-->
        <activity android:name=".ViewPager.ViewPager3DActivity" />

        <!--布局中圆角图片-->
        <activity android:name=".LayoutImage.LayoutImageActivity" />

        <!--26字母检索View-->
        <activity android:name=".IndexList.IndexDemoActivity" />

        <!-- CountDownTimer 倒计时 -->
        <activity android:name=".CountDownTimer.CountDownTimerDemo" />

        <!-- TextSwitch 滚动条 -->
        <activity android:name=".TextSwitch.TextSwitchDemo" />

        <!--material Design 5.0集合-->
        <activity android:name=".MaterialDesign.MaterialDesignActivity" />
        <activity android:name=".MaterialDesign.BottomNavigationActivity" />
        <activity android:name=".MaterialDesign.SwitchCompatActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.lovexiaoai.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
            <!--//exported:要求必须为false，为true则会报安全异常。
            //grantUriPermissions:true，表示授予 URI 临时访问权限。-->
        </provider>

    </application>

</manifest>