<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Base.BaseActivity" />

        <activity android:name=".StickyHeadActivity.StickyHeadActivity" /><!--RecyclerView 粘性头布局-->
        <activity android:name=".FlowViewActivity.FlowViewActivity" /><!--FlowViewActivity 流布局-->
        <activity android:name=".SwipeMenuView.SwipeMenuViewActivity" /><!--侧滑删除 Item -->
        <activity android:name=".DiyProgressBar.DiyProgressBarActivity" /><!--进度条 -->
        <activity android:name=".CircleImage.CircleImageActivity" /><!-- 圆角View -->

        <!--各种类型系统对话框学习-->
        <activity android:name=".SystemDialog.SystemDialogActivity" />

        <!--相机相册的学习 兼容到23 -->
        <activity android:name=".CarameAlbum.CarameAlbumActivity" />

        <!-- OkHttp 系列-->
        <activity android:name=".OkhttpUtils.TestOkhttp" />

        <!--RxJava 系列学习-->
        <activity android:name=".StudyRxJava.RxJavaActivity" />
        <activity android:name=".StudyRxJava.BaseRxjavaActivity" />

        <!--status bar状态栏 学习; 5.0以下 &#45;&#45; 5.0以上区别及实现方式-->
        <activity android:name=".StatusBarDemo.StatusBarTest"/>
    </application>

</manifest>